{% if pdfData['footer_img']=='1'%}
<div class="col-12" style="margin-right:30px;margin-left:0;padding:0;text-align: center;bottom:0;position:fixed;padding-top: 5px;">
    
    <img src="{{pdfData['footer_img_file']}}" style="margin-right:30px;margin-left:0;padding:0;text-align: center; width: 500px;" width="500">
</div>
{% endif %}
{% if pdfData['footer_content']=='1'%}
<div class="col-12" style="margin-right:30px;margin-left:0;padding:0;text-align: center;bottom:0;position:fixed;padding-top: 5px;">
  <span style="font-size: 12px;margin-right:30px;margin-left:0;padding:0;text-align: center;">{{pdfData['footer_content_text']}}</span>
</div>
{% endif %}