<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> FarazonCRM {{name}}</title>
        <meta name="description" content="{{name}}">
        <meta name="author" content="Dinesh Kumar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,900%7COpen+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">
        <style>
            table.items-table
            {
                font-size: 10px !important;
                
            }
            .col-12
            {
                width: 100%;
            }
            td.sub_total {
                border: 0px #fff !important;
            }
            .td_total,.th_total
            {
                max-width: 100%;
                min-width: 16%;
            }
            .item_sno
            {
                max-width: 100%;
                min-width: 5%;
            }
            .item_description
            {
                max-width: 100%;
                min-width: 25%;
            }
            .description_align
            {
                align: {{ pdfData['description_align'] }} !important;
                text-align: {{ pdfData['description_align'] }} !important;
            }
            .part_no
            {
                max-width: 100%;
                min-width: 5%;
            }
            .item_qty
            {
                max-width: 100%;
                min-width: 6%;
            }
            .item_price
            {
                max-width: 100%;
                min-width: 11%;
            }
            .item_custom
            {
                max-width: 100%;
                min-width: 5%;
            }
            .item_dis
            {
                max-width: 100%;
                min-width: 5%;
            }
            .item_dis_price
            {
                max-width: 100%;
                min-width: 7%;
            }
            .item_tax
            {
                max-width: 100%;
                min-width: 5%;
            }
            .item_tax_amt
            {
                max-width: 100%;
                min-width: 7%;
            }
            .packing
            {
                max-width: 100%;
                min-width: 5%;
            }
        
            .total_colspan
            {
             width: 67%;
            }
            .total_sub
            {
             width: 16%;
            }
            .total_col
            {
             width: 1%;
            }
            td.sub_total {
                text-align: right;
            }
            tr.amount_in_words td 
            {
             text-align: left !important;
            }
            .quotation-header
            {
            font-size: 24px;
             background-color:#efefef;
            }
            .quotation-header-name
            {  
            text-align: left !important;
            width: 50%;
            padding-top: 5px;
            }
        
            .quotation-header-no
            {
            text-align: right !important;
            width: 50%;
            padding-top: 5px;
            }
        
            .col-lg-12 {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
            .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
            }
            .header
            {
                background-color: #efefef;
                color: #736f6f;
                text-align: center;
            }
        
            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                border: 0;
                border-top: 10px solid #eeeeee;
            }
            .bill_to_address
            {
             width: 33.33%;
                float: left;
            }
            .address
            {
                border-right: 1px solid #eee;
            }
            .address-name
            {
                font-size: 14px;
            }
            .address div
            {
                padding: 10px;
            }
            body
            {
            color: #656565;
                font-family: 'Open Sans',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial,sans-serif;
            }
            td.address { 
                padding: 10px;
            }
            .quote_name
            {
             width: 55%;
            }
            .quote_dot
            {
             width: 2%;
            }
            .quote_value
            {
             width: 43%;
            }
        
            .address-table
            {
                border-bottom: 1px solid #eee;
            }
            .address-table
            {
                border-bottom: 1px solid #eee;
            }
            .items-table tr
            {
                border-bottom: 1px solid #eee;
            }
            tr.items td
            {
                border-bottom: 1px solid #eee;
            }
            .org-ali-left-right
            {
                 text-align: right !important;
                 /* float: left !important; */
            
                
            }
             
             .log-ali-left-right
             {
                text-align: left !important;
                float: left !important;
                
             }

             .text-right
             {
                text-align: right !important;
             }
             
             /* .col-lg-6
             {
                 width:50%
                 float: left;
             } */
             
              .org-ali-right-left
             {
                 text-align: left !important;
                float: right !important;
                
             }
              .log-ali-right-left
             {
                text-align: right !important;
                float: right !important;
            }
            
            /* .logo_alignment
            {
                text-align: {{ logo_alignment }}
            }
            .border_color_pdf
            {
                background-color: {{ pdfData['border_color'] }};
                color: {{ pdfData['border_font_color'] }};
            }
            body
            {
                color:{{ font_color }};
            } */
            .border_color_pdf
            {
                background-color: {{ pdfData['border_color'] }} !important;
                color:{{ pdfData['border_font_color'] }} !important;
            }
            .logo-width
            {
                width: {{ pdfData['width'] }}px;
                
            }
            .for_org{
                color:{{ pdfData['org_for_color'] }} !important;
                font-size:12px !important;
                
            }
            .td-width-50
            {
                width: 50% !important;
                
            }
            .td-width-100
            {
                width: 100% !important;
                
            }
            .width-100 table{
                width:100% !important;
            }
            table{
                width:100%;
            }
            @page {
            /* margin:1cm; Set margin on each page */
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 1cm;
            margin-top: 0.5cm;
            
            }
            .header-font{
                font-weight: 600 !important; 
                font-size: 18px !important;
                color:{{ pdfData['font_color'] }} !important;
            }
            .org_name{
                margin-right:0px !important;
                font-size: {{ pdfData['org_size'] }}px !important;
                font-weight: 600 !important;
                color:{{ pdfData['org_color_name'] }} !important;
                margin-top:2px !important;
                margin-bottom:2px !important;
            }
            .org_add_info{
                font-weight: 500 !important; 
                font-size: 12px !important;
                color:black!important
            }
            .org-ali-left{
                float:left !important;
                margin-left:0 !important;
                margin-right:0 !important;
                padding:0 !important;
                margin-top:3px !important;

            }
            .logo-right{
                float:right !important;
                margin-right:26px !important;
            }
            .billing_addr_title{
               
                font-size: 13px !important;
                font-weight: 600 !important;
                color:black !important;
            }
            .billing_addr_company{
               font-size: 12px !important;
               font-weight: 600 !important;
               color:black !important;
            }
            .billing_addr{
               font-size: 12px !important;
               font-weight: 500 !important;
               color:black !important;
            }
            .quote_detail_title{
               
                font-size: 13px !important;
               font-weight: 600 !important;
               color:black !important;
           }
           .quote_detail{
               font-size: 14px !important;
               font-weight: 500 !important;
               color:black !important;
            }
            .subject_title{
               font-size: 13px !important;
               font-weight: 600 !important;
               color:black !important;
            }
            .kind_attention_other_title{
               font-size: 11px !important;
               font-weight: 500 !important;
               color:black !important;
            }
            .kind_attention_other{
               font-size: 11px !important;
               /* font-weight: 500 !important; */
               color:black !important;
            }
            .item_tb_header{
               font-size: 15px !important;
               font-weight: 500 !important;
               text-align: center !important;
               vertical-align: middle !important;
               padding:5px !important;
               color:{{ pdfData['font_color'] }} !important;
               
            }
            .item_tb_values{
               font-size: 12px !important;
               font-weight: 500 !important;
               text-align: center !important;
               vertical-align: middle !important;
               padding:5px !important;
               color:black !important;
               
            }
            .item_tb_values_right{
               font-size: 12px !important;
               font-weight: 500 !important;
               text-align: right !important;
               vertical-align: middle !important;
               padding:5px !important;
               
            }
            .item_tb_values_left{
               font-size: 12px !important;
               font-weight: 500 !important;
               text-align: left !important;
               vertical-align: top !important;
               padding:5px !important;
               color:black !important;
               
            }
            .item_tb_values_desc{
               font-size: 12px !important;
               font-weight: 500 !important;
               vertical-align: top !important;
               color:black !important;
               padding:5px !important;
               
            }
            .item_tb_sub{
               font-size: 12px !important;
               /* font-weight: 500 !important; */
               text-align: right !important;
               vertical-align: middle !important;
               padding:5px !important;
               
            }
            .pg-break-avoid{
                page-break-inside: avoid!important;
            }
            .color-black{
                color:black!important;
            }

            .tab {border-collapse:collapse;} 
            .tab th{
                font-size: 11px !important;
                
            }
            body{
                font-family:'Open Sans',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial,sans-serif !important;
            }
            .lh1{
               line-height: 1!important;
            }
            .p0{
                padding:0px!important;
            }
            .border_bottom{
                border-bottom: 0.5px solid rgb(199, 199, 199) !important;
            }
           
        </style>
    
    </head>
    <body>
        <div class="col-lg-12" >
            <div class="quotation-header border_color_pdf" style="margin-right:30px;">
                <table class="col-12" cellpadding="5">
                    <tr>
                        <td class="quotation-header-name">&nbsp;&nbsp;<span class="header-font">{{pdfData['name']}}</span> </td>
                        <td class="quotation-header-no"><span class="header-font"># {{quote['invoice_no']}}</span> &nbsp;&nbsp; </td>
                    </tr>
                    <tr><td></td><td></td></tr>
                </table>
             
            </div>
            {% if pdfData['logo_alignment'] %}
                {% set logo_alignment=pdfData['logo_alignment'] %}
            {% else %}
                {% set logo_alignment='' %}
            {% endif %}

            {% if organization['logo'] %}
            {% set logo = organization['logo'] %}
            {% else %}
            {% set logo = 'assets/img/logo.jpg' %}
            {% endif %}
              <!-- logo=left && organisation =right/top -->
            {% if pdfData['logoAlignment']=='1' and pdfData['org_address']=='right' and pdfData['logo_alignment']=='left' and pdfData['org_address_alignment']=='top' %}
                {% set img_logo_alignment_class = 'col-lg-6 log-ali-left-right' %}
                {% set company_alignment_name_class = 'col-lg-6 org-ali-left-right' %}
                {% if pdfData['width']!='' %}
                    {% set width=pdfData['width'] %}
                {% else %}
                    {% set width=100 %}
                {% endif %}
                        
                <table class="col-12">
                    <tr>
                        <td  class="td-width-50">
                            <div class="{{logo_alignment}}" style="margin-top:2px;">
                                <img width="50" src="{{logo}} " title="RabbitCRM" alt="" class="logo-width" style="">
                            </div>
                            
                        </td>
                        <td class="td-width-50">
                            <div class="{{company_alignment_name_class}} {{company_alignment_name}}" style="margin-right:15px;float:right;">
                                    {% if pdfData['company_alignment']=='1' %}
                                        {% if pdfData['org_color_name'] %}
                                        {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                        {% else %}
                                        {% set org_color_name = '#000000' %}
                                        {% endif %}
                                        <div class="org_name" style="padding-bottom:5px;padding-top:5px">
                                            {{organization['organization_name']}}
                                        </div>
                                      
                                         
                                    {% endif %}
                                    <div class="org_add_info">
                                    {{organization['address']}},<br/>
                                    {{organization['address2']}},<br/>
                                    {{organization['city']}} - {{organization['pcode']}},<br/>
                                    {{organization['state']}},<br/>
                                    {{organization['country']}}.<br/>
                                    {% if organization['email'] %}
                                        Email :  {{organization['email']}}<br/>
                                    {% endif %}
                                    {% if organization['website'] %}
                                        Web :  {{organization['website']}}<br/>
                                    {% endif %}
                                    {% if organization['phone'] %}
                                        Phone :  {{organization['phone']}}<br/>
                                    {% endif %}
                                    </div>
                            </div>

                        </td>
                    </tr>
               </table>
               <!-- logo = left && organisation =right/bottom -->
               {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='right' and pdfData['logo_alignment']=='left' and pdfData['org_address_alignment']=='bottom' %}
                {% set img_logo_alignment_class = 'col-lg-6 log-ali-left-right' %}
                {% set company_alignment_name_class = 'col-lg-6 org-ali-right-left' %}
                {% if pdfData['width']!='' %}
                    {% set width=pdfData['width'] %}
                {% else %}
                    {% set width=100 %}
                {% endif %}
               <table class="col-12">
                    <tr>
                        <td class="td-width-50">
                            <div class="{{logo_alignment}}" style="margin-top:2px;">
                                <img width="50" src="{{logo}} " title="FarazonCRM" alt="" class="logo-width" style="">
                            </div>
                            
                        </td>
                    
                        <td class="td-width-50">
                            <div class="{{company_alignment_name_class}} {{company_alignment_name}}" style="margin-right:15px;float:right;margin-top:3px;">
                                    {% if pdfData['company_alignment']=='1' %}
                                        {% if pdfData['org_color_name'] %}
                                        {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                        {% else %}
                                        {% set org_color_name = '#000000' %}
                                        {% endif %}
                                        <span class="org_name">
                                            {{organization['organization_name']}}
                                        </span>
                                         
                                         <br/>
                                    {% endif %}
                                    <span class="org_add_info">
                                        {{organization['address']}},<br/>
                                        {{organization['address2']}},<br/>
                                        {{organization['city']}} - {{organization['pcode']}},<br/>
                                        {{organization['state']}},<br/>
                                        {{organization['country']}}.<br/>
                                        {% if organization['email'] %}
                                            Email :  {{organization['email']}}<br/>
                                        {% endif %}
                                        {% if organization['website'] %}
                                            Web :  {{organization['website']}}<br/>
                                        {% endif %}
                                        {% if organization['phone'] %}
                                            Phone :  {{organization['phone']}}<br/>
                                        {% endif %}
                                </span>
                            </div>

                        </td>
                    </tr>
                </table>
                 <!-- logo = left && organisation =left/bottom -->
               {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='left' and pdfData['logo_alignment']=='left' and pdfData['org_address_alignment']=='bottom' %}
               {% set img_logo_alignment_class = 'col-lg-6 log-ali-left-right' %}
               {% set company_alignment_name_class = 'col-lg-6 org-ali-left' %}
               {% if pdfData['width']!='' %}
                   {% set width=pdfData['width'] %}
               {% else %}
                   {% set width=100 %}
               {% endif %}
              <table class="col-12">
                   <tr>
                       <td class="td-width-50">
                           <div class="{{logo_alignment}}" style="margin-top:2px;">
                               <img width="50" src="{{logo}} " title="FarazonCRM" alt="" class="logo-width" style="">
                           </div>
                           
                       </td>
                       </tr>
                       <tr>
                        <td class="td-width-50">
                            <div class="{{company_alignment_name_class}} {{company_alignment_name}}" style="margin-right:15px;float:right;margin-top:3px;">
                                    {% if pdfData['company_alignment']=='1' %}
                                        {% if pdfData['org_color_name'] %}
                                        {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                        {% else %}
                                        {% set org_color_name = '#000000' %}
                                        {% endif %}
                                        <span class="org_name">
                                            {{organization['organization_name']}}
                                        </span>
                                         
                                         <br/>
                                    {% endif %}
                                    <span class="org_add_info">
                                        {{organization['address']}},<br/>
                                        {{organization['address2']}},<br/>
                                        {{organization['city']}} - {{organization['pcode']}},<br/>
                                        {{organization['state']}},<br/>
                                        {{organization['country']}}.<br/>
                                        {% if organization['email'] %}
                                            Email :  {{organization['email']}}<br/>
                                        {% endif %}
                                        {% if organization['website'] %}
                                            Web :  {{organization['website']}}<br/>
                                        {% endif %}
                                        {% if organization['phone'] %}
                                            Phone :  {{organization['phone']}}<br/>
                                        {% endif %}
                                </span>
                            </div>
 
                        </td>
                   
                       
                   </tr>
               </table>
                 <!-- logo = left && organisation =left/top -->
                 {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='left' and pdfData['logo_alignment']=='left' and pdfData['org_address_alignment']=='top' %}
                 {% set img_logo_alignment_class = 'col-lg-6 log-ali-left-right' %}
                 {% set company_alignment_name_class = 'col-lg-6 org-ali-left' %}
                 {% if pdfData['width']!='' %}
                     {% set width=pdfData['width'] %}
                 {% else %}
                     {% set width=100 %}
                 {% endif %}
                <table class="col-12">
                     
                         <tr>
                          <td class="td-width-50">
                              <div class="{{company_alignment_name_class}} {{company_alignment_name}}" style="margin-right:15px;float:right;margin-top:3px;">
                                      {% if pdfData['company_alignment']=='1' %}
                                          {% if pdfData['org_color_name'] %}
                                          {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                          {% else %}
                                          {% set org_color_name = '#000000' %}
                                          {% endif %}
                                          <span class="org_name">
                                              {{organization['organization_name']}}
                                          </span>
                                           
                                           <br/>
                                      {% endif %}
                                      <span class="org_add_info">
                                        {{organization['address']}},<br/>
                                        {{organization['address2']}},<br/>
                                        {{organization['city']}} - {{organization['pcode']}},<br/>
                                        {{organization['state']}},<br/>
                                        {{organization['country']}}.<br/>
                                        {% if organization['email'] %}
                                            Email :  {{organization['email']}}<br/>
                                        {% endif %}
                                        {% if organization['website'] %}
                                            Web :  {{organization['website']}}<br/>
                                        {% endif %}
                                        {% if organization['phone'] %}
                                            Phone :  {{organization['phone']}}<br/>
                                        {% endif %}
                                  </span>
                              </div>
   
                          </td>
                     </tr>
                     <tr>
                        <td class="td-width-50">
                            <div class="{{logo_alignment}}" style="margin-top:2px;">
                                <img width="50" src="{{logo}} " title="FarazonCRM" alt="" class="logo-width" style="">
                            </div>
                            
                        </td>
                        </tr>
                 </table>
               <!-- logo = right && organisation =right/bottom -->
               {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='right' and pdfData['logo_alignment']=='right' and pdfData['org_address_alignment']=='bottom' %}
                {% set img_logo_alignment_class = 'col-lg-6 log-ali-right-left' %}
                {% set company_alignment_name_class = 'col-lg-6 org-ali-right-left' %}
                {% if pdfData['width']!='' %}
                    {% set width=pdfData['width'] %}
                {% else %}
                    {% set width=100 %}
                {% endif %}
               <table class="col-12">
                    <tr>
                        <td class="td-width-100">
                            <div class="{{img_logo_alignment_class}}">
                                <img  src="{{logo}} " title="RabbitCRM" alt="" class="logo-width" style="margin-top: 8px;">
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="td-width-100">
                            <div class="{{company_alignment_name_class}} {{company_alignment_name}}">
                            
                                {% if pdfData['company_alignment']=='1' %}
                                    {% if pdfData['org_color_name']!='' %}
                                    {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                    {% else %}
                                    {% set org_color_name = '#000000' %}
                                    {% endif %}
                                    
                                {% endif %}
                                <span class="org_name">
                                    {{organization['organization_name']}}
                                </span>
                            </br>
                                <span class="org_add_info">
                                    {{organization['address']}},<br/>
                                    {{organization['address2']}},<br/>
                                    {{organization['city']}} - {{organization['pcode']}},<br/>
                                    {{organization['state']}},<br/>
                                    {{organization['country']}}.<br/>
                                    {% if organization['email'] %}
                                        Email :  {{organization['email']}}<br/>
                                    {% endif %}
                                    {% if organization['website'] %}
                                        Web :  {{organization['website']}}<br/>
                                    {% endif %}
                                    {% if organization['phone'] %}
                                        Phone :  {{organization['phone']}}<br/>
                                    {% endif %}
                                </span>
                            </div>

                            
                        </td>
                    </tr>
                </table>
                 <!-- logo = right && organisation =right/top -->
               {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='right' and pdfData['logo_alignment']=='right' and pdfData['org_address_alignment']=='top' %}
               {% set img_logo_alignment_class = 'col-lg-6 log-ali-right-left' %}
               {% set company_alignment_name_class = 'col-lg-6 org-ali-right-left' %}
               {% if pdfData['width']!='' %}
                   {% set width=pdfData['width'] %}
               {% else %}
                   {% set width=100 %}
               {% endif %}
              <table class="col-12">
                  
                   <tr>
                       <td class="td-width-100"> 
                        
                           <div class="{{company_alignment_name_class}} {{company_alignment_name}}">
                           
                               {% if pdfData['company_alignment']=='1' %}
                                   {% if pdfData['org_color_name']!='' %}
                                   {% set org_color_name = 'col-lg-6 org-ali-left-right' %}
                                   {% else %}
                                   {% set org_color_name = '#000000' %}
                                   {% endif %}
                         

                               {% endif %}

                               <span class="org_name">
                                {{organization['organization_name']}}
                            </span>
                        </br>
                            <span class="org_add_info">
                                {{organization['address']}},<br/>
                                {{organization['address2']}},<br/>
                                {{organization['city']}} - {{organization['pcode']}},<br/>
                                {{organization['state']}},<br/>
                                {{organization['country']}}.<br/>
                                {% if organization['email'] %}
                                    Email :  {{organization['email']}}<br/>
                                {% endif %}
                                {% if organization['website'] %}
                                    Web :  {{organization['website']}}<br/>
                                {% endif %}
                                {% if organization['phone'] %}
                                    Phone :  {{organization['phone']}}<br/>
                                {% endif %}
                               </span>
                           </div>

                           
                       </td>
                   </tr>
                   <tr>
                    <td class="td-width-100">
                        <div class="" style="margin-top:2px;text-align:right;float:right">
                            <img width="50" src="{{logo}} " title="FarazonCRM" alt="" class="logo-width" style="">
                        </div>
                        
                    </td>
                </tr>   
               </table>

            

               <!-- logo = right && organisation =left/top -->
               {% elif pdfData['logoAlignment']=='1' and pdfData['org_address']=='left' and pdfData['logo_alignment']=='right' and pdfData['org_address_alignment']=='top' %}
               {% set img_logo_alignment_class = 'col-lg-6 log-ali-right-left' %}
               {% set company_alignment_name_class = 'col-lg-6 org-ali-left' %}
               {% if pdfData['width']!='' %}
                   {% set width=pdfData['width'] %}
               {% else %}
                   {% set width=100 %}
               {% endif %}
               <table class="col-12">
                <tr>
                   
                    <td class="td-width-50">
                        <div class="{{company_alignment_name_class}} {{company_alignment_name}}" style="margin-right:15px;margin-top:3px;">
                                {% if pdfData['company_alignment']=='1' %}
                                    {% if pdfData['org_color_name'] %}
                                    {% set org_color_name = 'col-lg-6 org-ali-right-left' %}
                                    {% else %}
                                    {% set org_color_name = '#000000' %}
                                    {% endif %}
                                    <span class="org_name">
                                        {{organization['organization_name']}}
                                    </span>
                                     
                                     <br/>
                                {% endif %}
                                <span class="org_add_info">
                                    {{organization['address']}},<br/>
                                    {{organization['address2']}},<br/>
                                    {{organization['city']}} - {{organization['pcode']}},<br/>
                                    {{organization['state']}},<br/>
                                    {{organization['country']}}.<br/>
                                    {% if organization['email'] %}
                                        Email :  {{organization['email']}}<br/>
                                    {% endif %}
                                    {% if organization['website'] %}
                                        Web :  {{organization['website']}}<br/>
                                    {% endif %}
                                    {% if organization['phone'] %}
                                        Phone :  {{organization['phone']}}<br/>
                                    {% endif %}
                            </span>
                        </div>

                    </td>
                    <td  class="td-width-50">
                        <div class="logo-right" style="margin-top:2px;">
                            <img width="50" src="{{logo}} " title="RabbitCRM" alt="" class="logo-width" style="">
                        </div>
                        
                    </td>
                </tr>
           </table>

            {% endif %}

            <table>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
           <table class="address-table" style="border-top: 1px solid #eee;" cellspacing="5">
                <tbody>
                <tr>
                    {% if pdfData['ship_to']=='1' %}
                        {% set ship_to= "33.33%" %}
                    {% else %}
                        {% set ship_to= "60%"%}
                    {% endif %}
                    
                    <td class="address1" width="{{ship_to}}" >
                        
                       <div class="billing_addr_title" style="padding-top: 10px;">{% if pdfData['bill_to_name'] %}{{pdfData['bill_to_name']}}{%else%}Bill To{% endif %}</div>
                        {% if pdfData['account_name']=='1'  %} 
                        {% if pdfData['company_name']!=''  %}
                            <div class="billing_addr_company" style="padding-top: 5px;">{{ quote['company_name']}}</div>
                        {% endif %}
                        {% endif %}
                        <div class="billing_addr" style="padding-top: 5px;">
                        {% if quote['address1'] %}{{quote['address1']}},<br/>{% endif %}
                        {% if quote['address2'] %}{{quote['address2']}},<br/>{% endif %}
                        {% if quote['city'] %}{{quote['city']}},<br/>{% endif %}
                        {% if quote['state'] %}{{quote['state']}}{% endif %}
                        {% if quote['pincode'] %} - {{quote['pincode']}},<br/>{% endif %}
                        {% if quote['country'] %}{{quote['country']}},<br/>{% endif %}
                        </div>
                    </td>
                    {% if pdfData['ship_to']=='1' %}
                    
                    <td width="{{ship_to}}" class="address1" style="border-right: 1px solid #eee;" >
                    
                    <div class="billing_addr_title" style="padding-top: 10px;">{% if pdfData['ship_to_name'] %}{{pdfData['ship_to_name']}}{%else%}Ship To{% endif %}</div>
                    {% if pdfData['account_name']=='1'  %} 
                    {% if pdfData['company_name']!=''  %}
                        <div class="billing_addr_company" style="padding-top: 5px;">{{ quote['company_name']}}</div>
                    {% endif %}
                    {% endif %}
                   
                    <div class="billing_addr" style="padding-top: 5px;">
                                    
                    {% if quote['shipping_address1'] %} {{quote['shipping_address1']}} <br/>{% endif %}
                    {% if quote['shipping_address2'] %} {{quote['shipping_address2']}} <br/>{% endif %}
                    {% if quote['shipping_city'] %} {{quote['shipping_city']}} <br/>{% endif %}
                    {% if quote['shipping_state'] %} {{quote['shipping_state']}} {% endif %}
                    {% if quote['shipping_pincode'] %} - {{quote['shipping_pincode']}} <br/> {% endif %}
                    {% if quote['shipping_country'] %} {{quote['shipping_country']}} <br/>{% endif %}
                </span>
                    </td>
                    {% endif %}

                    {% if pdfData['ship_to'] %}
                        {% set ship_to= "33.33%" %}
                    {% else %}
                        {% set ship_to= "40%" %}
                    {% endif %}

                    <td width="{{ship_to}}">
                        <table cellspacing="5" width="100%">
                            <!-- <tr><td class="quote_name" >&nbsp;&nbsp;</td><td class="quote_dot"></td><td class="quote_value"></td></tr> -->
                            <tr><td class="quote_detail_title" >Quote Date</td><td class="quote_dot">:</td><td class="quote_detail">{{quote['create_date']}}</td></tr>
                            <tr><td class="quote_detail_title">Valid Till</td><td class="quote_dot">:</td><td class="quote_detail">{{quote['valid_till']}}</td></tr>
                            {% if pdfData['quote_ref_no']=='1' %}<tr><td class="quote_detail_title">{% if pdfData['quote_ref_name'] %}{{pdfData['quote_ref_name']}}{%else%}REF No{% endif %}</td><td class="quote_dot">:</td><td class="quote_detail">{{quote['ref_no']}}</td></tr>{% endif %}
                           
                            <br/>
                        </table>
                    </td>
                 </tr>
                 {% if pdfData['gstin']=='1' %}<tr>
                    <td><span class="kind_attention_other_title">Buyers GSTIN </span> &nbsp;:&nbsp;<span
                            class="quote_detail">{{quote['gstin']}}</span></td>
                </tr>{% endif %}
                 <tbody>
            </table>
            <div class="col-12" style="margin-top: 10px;">
            
                <div class="col-md-12" style="margin:0;padding:0">
                    <table class="col-12">
            
                        <tr>
                            <td class="lh1">
                                <span class="subject_title">Kind Attention </span>: <span
                                    class="kind_attention_other">{{quote['contact_name']}}</span><br>
                                
                                    {% if quote['contact_email'] %}
                                        <span class="kind_attention_other" style="padding-top: -10px;">Email</span> &nbsp; <span class="kind_attention_other">:</span>&nbsp;<span
                                                class="kind_attention_other">{{quote['contact_email']}}</span> <br>{% endif %}

                                    {% if quote['contact_phone_number'] %}
                                       <span class="kind_attention_other">Phone</span> &nbsp;<span class="kind_attention_other">:</span>&nbsp;<span
                                                class="kind_attention_other">{{quote['contact_phone_number']}}</span>{% endif %}
                                </td>
                        </tr>
                    </table>
                       <table class="col-12">
                        {% if pdfData['quote_subject'] %} <tr>
                            <td><span class="subject_title">Subject</span> &nbsp;<span class="subject_title">:</span>&nbsp;<span
                                    class="subject_title" >{{quote['subject']}}</span></td>
                        </tr>{% endif %}
                    </table>
                </div>
            </div>
            <br>
            <div class="col-12" style="margin-right:30px;margin-left:0;padding:0">
            {% set products = quote['product'] %}
            <!-- {{pdfData}}
            {{settings}} -->
            <table class="tab" cellspacing="0" cellpadding="0" style="width:677px;">
                <thead> {% set cqty = 2 %} {% set col_colspan = 3 %} 
                    <tr width="100%" align="center" class="border_color_pdf" >
                        <!-- Serial No -->
                        <th class="item_sno item_tb_header " width="{{item_sno}}%" >{% if pdfData['item_sno'] %} {{pdfData['item_sno']}} {% else %} # {% endif %}</th>
                        <!-- Product Name -->
                        <th class="item_description item_tb_header" width="{{item_description}}%">{% if pdfData['item_description'] %}{{pdfData['item_description']}}{%else%}Summary{% endif %}</th>
                        <!-- Hsn Code -->
                        {% if pdfData['part_no']=='1'%}
                            {% set cqty = cqty+1 %}
                            <th width="{{part_no}}%" align="center" class="part_no item_tb_header">{% if pdfData['part_no_name'] %}{{pdfData['part_no_name']}}{%else%}Part No{% endif %}</th>
                        {% endif %} 
                        {% if pdfData['hsn']=='1'%}
                        {% set cqty = cqty+1 %}
                        <th width="{{hsn}}%" align="center" class="part_no item_tb_header">{% if pdfData['hsn_name'] %}{{pdfData['hsn_name']}}{%else%}HSNCODE{% endif %}</th>
                    {% endif %} 
                        <!-- Qty -->
                        {% if pdfData['qty']=='1'  %}
                            {% set cqty = cqty+1 %}
                            <th class="item_qty item_tb_header" width="{{item_qty}}%" align="center">{% if pdfData['qty_name'] %}{{pdfData['qty_name']}}{%else%}Qty{% endif %}</th>
                        {% endif %} 
                        <!-- UOM -->
                        {% if pdfData['item_custom']=='1'  %}
                            {% set col_colspan = col_colspan+1 %}
                            <th width="{{item_custom}}%" align="center" class="item_sno item_tb_header">{% if pdfData['item_custom_field'] %}{{pdfData['item_custom_field']}}{%else%}UOM{% endif %}</th>
                        {% endif %}
                        <!-- Price  -->
                            <th class="item_price item_tb_header" width="{{item_price}}%" align="center">{% if pdfData['price'] %}{{pdfData['price']}}{%else%}Price{% endif %} {% if organization['currency'] %}({{organization['currency']}}){% endif %}</th>
     
                     
                         <!-- Discount -->
                         {% if pdfData['discount']=='1' %}
                         {% set col_colspan = col_colspan+1 %}
                         <th class="item_qty item_tb_header"  align="center">{% if pdfData['discount_name'] %}{{pdfData['discount_name']}}{%else%}Discount %{% endif %}</th>
                         {% endif %}

                         {% if pdfData['discount_price']=='1' %}
                         {% set col_colspan = col_colspan+1 %}
                         <th class="item_qty item_tb_header"  align="center">{% if pdfData['discount_price_name'] %}{{pdfData['discount_price_name']}}{%else%}Discount Price{% endif %}</th>
                         {% endif %}
                         <!-- Packing -->
                         {% if pdfData['packing']=='1' %}
                         {% set col_colspan = col_colspan+1 %}
                         <th class="item_qty item_tb_header"  align="center">{% if pdfData['packing_name'] %}{{pdfData['packing_name']}}{%else%}Packing %{% endif %}</th>
                         {% endif %}

                         {% if pdfData['packing1']=='1' %}
                         {% set col_colspan = col_colspan+1 %}
                         <th class="item_qty item_tb_header"  align="center">{% if pdfData['packing1'] %}{{pdfData['packing_name1']}}{%else%}Packing Price{% endif %}</th>
                         {% endif %}
                     
                        
                        <!-- Taxable  -->
                        {% if pdfData['Taxable']=='1' %}
                        <th width="{{taxb}}%" align="center" class="item_sno item_tb_header">{{pdfData['taxable_name']}}</th>
                        {% endif %}
                        
                        <!-- CGST and SGST -->
                        {% if quote['tax_type']=='same_state' %}
                            {% if pdfData['tax']=='1' %}
                                {% set col_colspan = col_colspan+1 %}
                                <th width="{{wtax}}%" align="center" class="item_sno item_tb_header">
                                CGST %
                                </th>
                            {% endif %}
                            {% if pdfData['tax_amount']=='1' %}
                                {% set col_colspan = col_colspan+1 %}
                                <th width="{{tax_amount}}%" align="center" class="item_sno item_tb_header">
                                CGST Amt
                                </th>
                            {% endif %}
                                
                            {% if pdfData['tax2']=='1'%}
                                {% set col_colspan = col_colspan+1 %}
                                <th width="{{wtax2}}%" align="center" class="item_sno item_tb_header">
                                SGST %
                                </th>
                            {% endif %}
                            {% if pdfData['tax2_amount']=='1'%}
                                {% set col_colspan = col_colspan+1 %}
                                <th width="{{ tax_amount }}%" align="center" class="item_sno item_tb_header">
                                    SGST Amt
                                </th>
                            {% endif %}
                        {% endif %}

                        <!-- IGST -->
                        {% if quote['tax_type']=='other_state' %}
                        {% if pdfData['tax2']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <th width="{{wtax2}}%" align="center" class="item_sno item_tb_header">
                              IGST %
                            </th>
                        {% endif %}
                        {% if pdfData['tax2_amount']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <th width="{{ tax_amount }}%" align="center" class="item_sno item_tb_header">
                                IGST Amt
                            </th>
                        {% endif %}
                        {% endif %}

                            
                        <th class="item_amount th_total item_tb_header" align="right" width="{{item_amount}}%">
                            {% if pdfData['amount'] %}{{pdfData['amount']}}{%else%}Amount{% endif %}
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    {% set sno=1 %}
                    {% for product in products %}
                    <tr width="100%" style="line-height: 20px;">
                         <!-- Serial No -->
                        <td class="item_sno item_tb_values_left border_bottom" width="{{item_sno}}%" >{{ loop.index }} <br> <br>
                            <span style="font-size: 9px;">
                                </span>
                        </td>
                        <!-- Product Name -->
                        <td class="item_description item_tb_values_desc description_align border_bottom" width="{{item_description}}%">
                            <span style="margin-top: 5px;">
                                {%- if product['product_name'] -%} 
                                {{ product['product_name'] | safe }}
                                {%- endif -%} 
                            </span>
                           
                            <br>
                           <span style="font-size: 9px;">
                            {%- if product['description'] -%} 
                            {{ product['description'] | safe }}
                            {%- endif -%} 
                         </span> 
                            
                        </td>
                        <!-- HSN Code -->
                        {% if pdfData['part_no']=='1' %}
                              <td width="{{part_no}}%" align="center" class="part_no item_tb_values border_bottom">{% if product['model_no'] %}{{product['model_no']}}{%else%}-{% endif %}</td>
                        {% endif %} 
                        {% if pdfData['hsn']=='1' %}
                        <td width="{{part_no}}%" align="center" class="part_no item_tb_values border_bottom">{% if product['hsn_code'] %}{{product['hsn_code']}}{%else%}-{% endif %}</td>
                        {% endif %} 
                        <!-- Qty -->
                        {% if pdfData['qty']=='1'  %}
                            {% set cqty = cqty+1 %}
                            <td class="item_qty item_tb_values border_bottom" width="{{item_qty}}%" align="center">{% if product['qty'] %}{{product['qty']}}{%else%}-{% endif %}</td>
                        {% endif %} 
                        <!-- UOM -->
                        {% if pdfData['item_custom']=='1'  %}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{item_custom}}%" align="center" class="item_sno item_tb_values border_bottom">{% if product['uom'] %}{{product['uom']}}{%else%}&nbsp;{% endif %}</td>
                        {% endif %}
                        <!-- Price -->
                            <td class="item_price item_tb_values border_bottom" width="{{item_price}}%" align="center">{% if product['price'] %}{{product['price']}}{%else%}-{% endif %}</td>
                        <!-- Discount Percentage -->
                    
                        
                        <!-- Discount Name -->
                        {% if pdfData['discount']=='1'%}
                        <td class="item_price item_tb_values border_bottom" width="{{item_price}}%" align="center">{% if product['discount_percentage'] %}{{product['discount_percentage']}}{%else%}-{% endif %}</td>
                        {% endif %}
                         <!-- Discount Percentage -->
                         {% if pdfData['discount_price']=='1'%}
                         <td class="item_price item_tb_values border_bottom" width="{{item_price}}%" align="center">{% if product['discount_price'] %}{{product['discount_price']}}{%else%}-{% endif %}</td>
                         {% endif %}
                        <!-- Packing -->
                        {% if pdfData['packing']=='1'%}
                        <td class="item_price item_tb_values border_bottom" width="{{item_price}}%" align="center">{% if product['packing_percentage'] %}{{product['packing_percentage']}}{%else%}-{% endif %}</td>
                        {% endif %}
                         <!-- Discount Percentage -->
                         {% if pdfData['packing1']=='1'%}
                         <td class="item_price item_tb_values border_bottom" width="{{item_price}}%" align="center">{% if product['packing_price'] %}{{product['packing_price']}}{%else%}-{% endif %}</td>
                         {% endif %}
                        <!-- Taxable -->
                        {% if pdfData['Taxable']=='1' %}
                        <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['taxable_value']}}</td>
                        {% endif %}
                          <!-- CGST and SGST -->
                        {% if quote['tax_type']=='same_state' %}
                        {% if pdfData['tax']=='1' %}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_percentage1']}}</td>
                        {% endif %}
                        {% if pdfData['tax_amount']=='1' %}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_amount1']}}</td>
                        {% endif %}
                            
                        {% if pdfData['tax2']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_percentage2']}}</td>
                        {% endif %}
                        {% if pdfData['tax2_amount']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_amount2']}}</td>
                        {% endif %}
                        {% endif %}

                        <!-- IGST -->
                        {% if quote['tax_type']=='other_state' %}
                        {% if pdfData['tax2']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_percentage1']}}</td>
                        {% endif %}
                        {% if pdfData['tax2_amount']=='1'%}
                            {% set col_colspan = col_colspan+1 %}
                            <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom">{{product['tax_amount1']}}</td>
                        {% endif %}
                        {% endif %}
                             
                        <td class="item_amount th_total item_tb_values_right color-black border_bottom"  width="{{item_amount}}%">
                           
                            {{'%0.2f'| format(product['total']|float)}}
                        </td>
                    </tr>
                {% endfor %}
                <tr></tr>
                {% if pdfData['sub_total']=='1'%}
                <tr style="padding-top:20px;border-top:1px solid #eee" class="lh1 " >
                  
                   
                    <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black" style="border-top:1px solid #eee;padding:10px"><div style="padding-top: 5px;">{% if pdfData['sub_total_name']!='' %}{{pdfData['sub_total_name']}}:{%else%}Sub Total:{% endif %}</div></td>
                    <td class="item_tb_values_right color-black" style="border-top:1px solid #eee;padding:10px"><div style="padding-top: 5px;">{{quote['sub_total']}}</div></td>
                </tr>
                {% endif %}
                {% if pdfData['overall_discount']=='1'%}
                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if pdfData['over_all_discount']!='' %}{{pdfData['over_all_discount']}}:{%else%}Discount:{% endif %}</td>
                   
                    <td class="item_tb_values_right color-black">{{quote['discount_amount']}}</td>
                </tr>
                {% endif %}
                  
                {% if pdfData['total_tax']=='1'%}
                {% if quote['tax_type']=='same_state' %}
             
                <tr class="lh1 p0"> 
                    <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black"> {% if pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(CGST)</td>
                    <td class="item_tb_values_right color-black" style="white-space: nowrap"><span>{{quote['tax_percentage1']}} %</span></td>
                    <td class="item_tb_values_right color-black">{{quote['tax_amount1']}}</td>
                </tr>
                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black">{% if pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(SGST)</td>
                    <td class="item_tb_values_right color-black" style="white-space: nowrap"><span>{{quote['tax_percentage2']}} %</span></td>
                    <td class="item_tb_values_right color-black">{{quote['tax_amount2']}}</td>
                </tr>
                {% endif %}
                {% if quote['tax_type']=='other_state' %}

                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black">{% if pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(IGST)</td>
                    <td class="item_tb_values_right color-black" style="white-space: nowrap"><span>{{quote['tax_percentage1']}} %</span></td>
                    <td class="item_tb_values_right color-black">{{quote['tax_amount1']}}</td>
                </tr>
               
                {% endif %}
                {% endif %}

                {% if pdfData['shipping']=='1'%}
                <!-- {% if quote['shipping_charges']!='0' %} -->
                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if pdfData['shipping_name']!='' %}{{pdfData['shipping_name']}}:{%else%}Shipping:{% endif %}</td>
                    <td class="item_tb_values_right color-black">{{quote['shipping_charges']}}</td>
                </tr>
                <!-- {% endif %} -->
                {% endif %}
                {% if pdfData['installation']=='1' and quote['installation_charges']!='0' %}
                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if pdfData['installation_name']!='' %}{{pdfData['installation_name']}}:{%else%}Installation:{% endif %}</td>
                    <td class="item_tb_values_right color-black">{{quote['shipping_charges']}}</td>
                </tr>
                {% endif %}
                {% if pdfData['total']=='1' %}
                <tr class="lh1 p0">
                    <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"><b> {% if pdfData['total_name']!='' %}{{pdfData['total_name']}}:{%else%}Total:{% endif %}</b></td>
                    {% if pdfData['total_round_off']=='1' %}
                    <td class="item_tb_values_right color-black"><b>{{quote['total_roundoff']}}</b></td>
                    {% else %}
                    <td class="item_tb_values_right color-black"><b>{{quote['total']}}</b></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% if pdfData['amount_in_words']=='1' %}
                <tr>
                   <td colspan="{{settings['col_colspan2']}}" class="color-black" style="text-align: left;font-size: 13px;">
                    <span style="font-weight: 600;">Amount in words:</span><br>
                    {{quote['amt_in_words']}} Only 
                </td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            
            {% if pdfData['terms_conditions']=='1'%}

                <br/>
                <div class="col-12" style="margin-right:30px;margin-left:0;padding:0">
                <table class="pg-break-avoid" cellspacing="0" cellpadding="5" style="width:677px">
                    <tr class="border_color_pdf">
                        <td class="td-width-100" style="padding:10px">
                            <span class="header-font" >
                                {% if pdfData['terms_conditions_name'] %}{{pdfData['terms_conditions_name']}}{%else%}Terms & Conditions {% endif %}
                            </span>
                           
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: left;"><td class=""></td></tr>
                    {% if quote['delivery_period'] %}
                    <tr width="100%" style="text-align: left;">
                        <td class="">
                          <span class="quote_detail_title"> Delivery : </span><span class="quote_detail">{{quote['delivery_period']}}</span><br/>
                        </td>
                    </tr>
                    {% endif %}
                    {% if quote['carrier'] %}<tr width="100%" style="text-align: left;">
                        <td class="">
                            <span class="quote_detail_title">Carrier : </span> <span class="quote_detail">{{quote['carrier']}}</span><br/>
                        </td>
                    </tr>
                    {% endif %}
                    {% if quote['payment_terms'] %}<tr width="100%" style="text-align: left;">
                        <td class="">
                            <span class="quote_detail_title">Payment :</span> <span class="quote_detail">{{quote['payment_terms']}}</span><br/>
                        </td>
                    </tr>
                    {% endif %}
                    <tr width="100%" style="text-align: left;">
                        <td style="text-align: left;">
                            <div style="padding-top: 5px;">
                            <span class="quote_detail_title">Other conditions :</span>
                            <span class="quote_detail" style="left: 0;">{{quote['terms_condition'] | safe}}</span>
                        </div>
                        </td>
                    </tr>
                </table>
                </div>
            {% endif %}
            {% if pdfData['bank_details'] == '1' %}
            <div class="col-12" style="margin-right:30px;margin-left:0;padding:0">
            <table class="bank-table pg-break-avoid" cellspacing="0" cellpadding="5" style="width:677px;page-break-inside: avoid">
                <tr class="border_color_pdf">
                    <td class="td-width-100" style="padding:10px">
                        <span class="header-font" >
                            {% if pdfData['bank_details_name'] %}{{pdfData['bank_details_name']}}{%else%}Bank Details :{% endif %}
                        </span>
                    </td>
                </tr>
               <!-- <tr width="100%" >
                    <td style="text-align: left;color:black">
                        <br>
                      
                    </td>
                </tr> -->
            </table>
            <div class="quote_detail">{{quote['bank_details'] | safe}}</div>
            </div>
            {% endif %}
            {% if quote['remark']!='' %}
            {% if pdfData['remarks']=='1' %}
            <div class="col-12" style="margin-right:30px;margin-left:0;padding:0">
            <table class="bank-table pg-break-avoid" cellspacing="0" cellpadding="5" style="width:677px">
                <tr class="border_color_pdf">
                    <td class="td-width-100" style="padding:10px">
                        <span class="header-font" >
                            {% if pdfData['remarks_name'] %}{{pdfData['remarks_name']}}{%else%}Remarks :{% endif %}
                        </span>
                    </td>
                </tr>
               <tr width="100%">
                    <td style="text-align: left;color:black">
                        <br>
                         {{quote['remark'] | safe}}
                    </td>
                </tr>
            </table>
            </div>
            {% endif %}
            {% endif %}
            
            <br/>
            <div class="col-12 pg-break-avoid" style="margin-right:30px;margin-left:0;padding:0;">
                <table class="bank-table pg-break-avoid" cellspacing="0" cellpadding="5" style="width:677px">
                    <tr >
                        <td>
            <div style="float:right;margin-right:30px">
                {% if pdfData['org_for']=='1' %}
                <span class="for_org" style="margin-right:10px;margin-left:80px;width: 50px;">For {{organization['organization_name']}}</span>
                {% endif %}

            </div>
            <br>
            <div style="float:right;margin-right:30px;">
                {% if pdfData['authorized_signatory_img']=='1' %}
                <img src="{{pdfData['authorized_signatory_path']}}" style="margin-right:10px;margin-left:80px;width: 50px;">
                <br>
                <!-- <br> -->
                {% endif %}
                {% if pdfData['authorized_signatory']=='1' %}
                <span class="quote_detail" style="margin-right:10px;margin-left:80px;width: 50px;">Authorized Signatory</span>
                {% endif %}

            </div>
         
           
        </td>
        </tr>
                </table>
            </div>
           
        </div>
        {% if pdfData['footer_img']=='1'%}
        <div class="col-12" style="margin-right:30px;margin-left:0;padding:0;text-align: center;bottom:0;position:fixed;padding-top: 5px;">
            
            <img src="{{pdfData['footer_img_file']}}" style="margin-right:30px;margin-left:0;padding:0;text-align: center; width: 500px;">
        </div>
        {% endif %}
        {% if pdfData['footer_content']=='1'%}
        <div class="col-12" style="margin-right:30px;margin-left:0;padding:0;text-align: center;bottom:0;position:fixed;padding-top: 5px;">
          <span style="font-size: 12px;margin-right:30px;margin-left:0;padding:0;text-align: center;">{{pdfData['footer_content_text']}}</span>
        </div>
        {% endif %}
   
</html>


{% set font_color = pdfData['font_color'] %}

