<div class="col-12" style="margin-right:30px;margin-left:0;padding:0">
    {% set products = quote['product'] %}
    <!-- {{pdfData}}
            {{settings}} -->
    <table class="tab pg-break-avoid" cellspacing="0" cellpadding="0" style="width:677px;">
        <thead> {% set cqty = 2 %} {% set col_colspan = 3 %}
            <tr width="100%" align="center" class="border_color_pdf">
                <!-- Serial No -->
                <th class="item_sno item_tb_header border" width="{{item_sno}}%">{% if pdfData['item_sno'] %}
                    {{pdfData['item_sno']}} {% else %} # {% endif %}</th>
                <!-- Product Name -->
                <th class="item_description item_tb_header border" width="{{item_description}}%">{% if
                    pdfData['item_description'] %}{{pdfData['item_description']}}{%else%}Summary{% endif %}</th>
                <!-- Hsn Code -->
                {% if pdfData['part_no']=='1'%}
                {% set cqty = cqty+1 %}
                <th width="{{part_no}}%" align="center" class="part_no item_tb_header border">{% if
                    pdfData['part_no_name'] %}{{pdfData['part_no_name']}}{%else%}Part No{% endif %}</th>
                {% endif %}
                {% if pdfData['hsn']=='1'%}
                {% set cqty = cqty+1 %}
                <th width="{{hsn}}%" align="center" class="part_no item_tb_header border">{% if pdfData['hsn_name']
                    %}{{pdfData['hsn_name']}}{%else%}HSNCODE{% endif %}</th>
                {% endif %}
                <!-- Qty -->
                {% if pdfData['qty']=='1' %}
                {% set cqty = cqty+1 %}
                <th class="item_qty item_tb_header border" width="{{item_qty}}%" align="center">{% if
                    pdfData['qty_name'] %}{{pdfData['qty_name']}}{%else%}Qty{% endif %}</th>
                {% endif %}
                <!-- UOM -->
                {% if pdfData['item_custom']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{item_custom}}%" align="center" class="item_sno item_tb_header border">{% if
                    pdfData['item_custom_field'] %}{{pdfData['item_custom_field']}}{%else%}UOM{% endif %}</th>
                {% endif %}



                <!-- Price  -->
                {% if pdfData['need_price']=='1' %}
                <th class="item_price item_tb_header border" width="{{item_price}}%" align="center">{% if
                    pdfData['price'] %}{{pdfData['price']}}{%else%}Price{% endif %}</th>
                {% endif %}
                <!-- Custom Field 1 -->
                {% if pdfData['need_custom_field1']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{item_price}}%" align="center" class="item_price item_tb_header border">
                    {{pdfData['custom_field1_name']}}</th>
                {% endif %}

                <!-- Custom Field 2 -->
                {% if pdfData['need_custom_field2']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{item_price}}%" align="center" class="item_price item_tb_header border">
                    {{pdfData['custom_field2_name']}}</th>
                {% endif %}

                <!-- Discount -->
                {% if pdfData['discount']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th class="item_qty item_tb_header border" align="center">{% if pdfData['discount_name']
                    %}{{pdfData['discount_name']}}{%else%}Discount %{% endif %}</th>
                {% endif %}

                {% if pdfData['discount_price']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th class="item_qty item_tb_header border" align="center">{% if pdfData['discount_price_name']
                    %}{{pdfData['discount_price_name']}}{%else%}Discount Price{% endif %}</th>
                {% endif %}
                <!-- Packing -->
                {% if pdfData['packing']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th class="item_qty item_tb_header border" align="center">{% if pdfData['packing_name']
                    %}{{pdfData['packing_name']}}{%else%}Packing %{% endif %}</th>
                {% endif %}

                {% if pdfData['packing1']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th class="item_qty item_tb_header border" align="center">{% if pdfData['packing1']
                    %}{{pdfData['packing_name1']}}{%else%}Packing Price{% endif %}</th>
                {% endif %}


                <!-- Taxable  -->
                {% if pdfData['Taxable']=='1' %}
                <th width="{{taxb}}%" align="center" class="item_sno item_tb_header border">{{pdfData['taxable_name']}}
                </th>
                {% endif %}

                <!-- CGST and SGST -->
                {% if quote['tax_type']=='same_state' %}
                {% if pdfData['tax']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{wtax}}%" align="center" class="item_sno item_tb_header border">
                    CGST %
                </th>
                {% endif %}
                {% if pdfData['tax_amount']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{tax_amount}}%" align="center" class="item_sno item_tb_header border">
                    CGST Amt
                </th>
                {% endif %}

                {% if pdfData['tax2']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{wtax2}}%" align="center" class="item_sno item_tb_header border">
                    SGST %
                </th>
                {% endif %}
                {% if pdfData['tax2_amount']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{ tax_amount }}%" align="center" class="item_sno item_tb_header border">
                    SGST Amt
                </th>
                {% endif %}
                {% endif %}

                <!-- IGST -->
                {% if quote['tax_type']=='other_state' %}
                {% if pdfData['tax2']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{wtax2}}%" align="center" class="item_sno item_tb_header border">
                    IGST %
                </th>
                {% endif %}
                {% if pdfData['tax2_amount']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <th width="{{ tax_amount }}%" align="center" class="item_sno item_tb_header border">
                    IGST Amt
                </th>
                {% endif %}
                {% endif %}

                {% if pdfData['item_wise_total']=='1'%}
                <th class="item_amount th_total item_tb_header border" align="right" width="{{item_amount}}%">
                    {% if pdfData['amount'] %}{{pdfData['amount']}}{%else%}Amount{% endif %}
                </th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% set sno=1 %}
            {% for product in products %}
            <tr width="100%" style="line-height: 20px;" class="border">
                <!-- Serial No -->
                <td class="item_sno item_tb_values_left border_bottom border" width="{{item_sno}}%">{{ loop.index }}
                </td>
                <!-- Product Name -->
                <td class="item_description item_tb_values_desc description_align border_bottom border"
                    width="{{item_description}}%">
                    <!-- <span style="margin-top: 10px;"> -->
                        {%- if product['product_name'] -%}
                        {{ product['product_name'] | safe }}
                        {%- endif -%}
                    <!-- </span> -->
                </td>
                <!-- HSN Code -->
                {% if pdfData['part_no']=='1' %}
                <td width="{{part_no}}%" align="center" class="part_no item_tb_values border_bottom border">{% if
                    product['model_no'] %}{{product['model_no']}}{%else%}-{% endif %}</td>
                {% endif %}
                {% if pdfData['hsn']=='1' %}
                <td width="{{part_no}}%" align="center" class="part_no item_tb_values border_bottom border">{% if
                    product['hsn_code'] %}{{product['hsn_code']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Qty -->
                {% if pdfData['qty']=='1' %}
                {% set cqty = cqty+1 %}
                <td class="item_qty item_tb_values border_bottom border" width="{{item_qty}}%" align="center">{% if
                    product['qty'] %}{{product['qty']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- UOM -->
                {% if pdfData['item_custom']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{item_custom}}%" align="center" class="item_sno item_tb_values border_bottom border">{% if
                    product['uom'] %}{{product['uom']}}{%else%}&nbsp;{% endif %}</td>
                {% endif %}
                <!-- Price -->
                {% if pdfData['need_price']=='1' %}
                <td class="item_price item_tb_values border_bottom border" width="{{item_price}}%" align="center">{% if
                    product['price'] %}{{product['price']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Custom Fields -->
                {% if pdfData['need_custom_field1']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{item_price}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product[pdfData['custom_field1']]}}</td>
                {% endif %}

                {% if pdfData['need_custom_field2']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{item_price}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product[pdfData['custom_field2']]}}</td>
                {% endif %}

                <!-- Discount Percentage -->


                <!-- Discount Name -->
                {% if pdfData['discount']=='1'%}
                <td class="item_price item_tb_values border_bottom border" width="{{item_price}}%" align="center">{% if
                    product['discount_percentage'] %}{{product['discount_percentage']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Discount Percentage -->
                {% if pdfData['discount_price']=='1'%}
                <td class="item_price item_tb_values border_bottom border" width="{{item_price}}%" align="center">{% if
                    product['discount_price'] %}{{product['discount_price']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Packing -->
                {% if pdfData['packing']=='1'%}
                <td class="item_price item_tb_values border_bottom border" width="{{item_price}}%" align="center">{% if
                    product['packing_percentage'] %}{{product['packing_percentage']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Discount Percentage -->
                {% if pdfData['packing1']=='1'%}
                <td class="item_price item_tb_values border_bottom border" width="{{item_price}}%" align="center">{% if
                    product['packing_price'] %}{{product['packing_price']}}{%else%}-{% endif %}</td>
                {% endif %}
                <!-- Taxable -->
                {% if pdfData['Taxable']=='1' %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['taxable_value']}}</td>
                {% endif %}
                <!-- CGST and SGST -->
                {% if quote['tax_type']=='same_state' %}
                {% if pdfData['tax']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_percentage1']}}</td>
                {% endif %}
                {% if pdfData['tax_amount']=='1' %}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_amount1']}}</td>
                {% endif %}

                {% if pdfData['tax2']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_percentage2']}}</td>
                {% endif %}
                {% if pdfData['tax2_amount']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_amount2']}}</td>
                {% endif %}
                {% endif %}

                <!-- IGST -->
                {% if quote['tax_type']=='other_state' %}
                {% if pdfData['tax2']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_percentage1']}}</td>
                {% endif %}
                {% if pdfData['tax2_amount']=='1'%}
                {% set col_colspan = col_colspan+1 %}
                <td width="{{taxb}}%" align="center" class="item_sno item_tb_values border_bottom border">
                    {{product['tax_amount1']}}</td>
                {% endif %}
                {% endif %}

                {% if pdfData['item_wise_total']=='1'%}
                <td class="item_amount th_total item_tb_values_right color-black border_bottom border"
                    width="{{item_amount}}%">

                    {{'%0.2f'| format(product['total']|float)}}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            <!-- <tr class="border"></tr> -->
            {% if pdfData['sub_total']=='1'%}
            <tr style="padding-top:20px;border-top:1px solid #eee" class="lh1 ">


                <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black "
                    style="border-top:1px solid #eee;padding:10px">
                    <div style="padding-top: 5px;">{% if pdfData['sub_total_name']!=''
                        %}{{pdfData['sub_total_name']}}:{%else%}Sub Total:{% endif %}</div>
                </td>
                <td class="item_tb_values_right color-black border" style="border-top:1px solid #eee;padding:10px">
                    <div style="padding-top: 5px;">{{quote['sub_total']}}</div>
                </td>
            </tr>
            {% endif %}
            {% if pdfData['overall_discount']=='1'%}
            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if
                    pdfData['over_all_discount']!='' %}{{pdfData['over_all_discount']}}:{%else%}Discount:{% endif %}
                </td>

                <td class="item_tb_values_right color-black border">{{quote['discount_amount']}}</td>
            </tr>
            {% endif %}

            {% if pdfData['total_tax']=='1'%}
            {% if quote['tax_type']=='same_state' %}

            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black"> {% if
                    pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(CGST)
                </td>
                <td class="item_tb_values_right color-black border" style="white-space: nowrap">
                    <span>{{quote['tax_percentage1']}} %</span></td>
                <td class="item_tb_values_right color-black border">{{quote['tax_amount1']}}</td>
            </tr>
            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black">{% if
                    pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(SGST)
                </td>
                <td class="item_tb_values_right color-black border" style="white-space: nowrap">
                    <span>{{quote['tax_percentage2']}} %</span></td>
                <td class="item_tb_values_right color-black border">{{quote['tax_amount2']}}</td>
            </tr>
            {% endif %}
            {% if quote['tax_type']=='other_state' %}

            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan2']}}" class="text-right item_tb_sub color-black">{% if
                    pdfData['total_tax_name']!='' %}{{pdfData['total_tax_name']}}:{%else%}Tax:{% endif %}&nbsp;(IGST)
                </td>
                <td class="item_tb_values_right color-black border" style="white-space: nowrap">
                    <span>{{quote['tax_percentage1']}} %</span></td>
                <td class="item_tb_values_right color-black border">{{quote['tax_amount1']}}</td>
            </tr>

            {% endif %}
            {% endif %}

            {% if pdfData['shipping']=='1'%}
            <!-- {% if quote['shipping_charges']!='0' %} -->
            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if
                    pdfData['shipping_name']!='' %}{{pdfData['shipping_name']}}:{%else%}Shipping:{% endif %}</td>
                <td class="item_tb_values_right color-black border">{{quote['shipping_charges']}}</td>
            </tr>
            <!-- {% endif %} -->
            {% endif %}
            {% if pdfData['installation']=='1' and quote['installation_charges']!='0' %}
            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"> {% if
                    pdfData['installation_name']!='' %}{{pdfData['installation_name']}}:{%else%}Installation:{% endif %}
                </td>
                <td class="item_tb_values_right color-black border">{{quote['shipping_charges']}}</td>
            </tr>
            {% endif %}
            {% if pdfData['total']=='1' %}
            <tr class="lh1 p0">
                <td colspan="{{settings['col_colspan1']}}" class="text-right item_tb_sub color-black"><b> {% if
                        pdfData['total_name']!='' %}{{pdfData['total_name']}}:{%else%}Total:{% endif %}</b></td>
                {% if pdfData['total_round_off']=='1' %}
                <td class="item_tb_values_right color-black border"><b>{{quote['total_roundoff']}}</b></td>
                {% else %}
                <td class="item_tb_values_right color-black border"><b>{{quote['total']}}</b></td>
                {% endif %}
            </tr>
            {% endif %}
            {% if pdfData['amount_in_words']=='1' %}
            <tr>
                <td colspan="{{settings['col_colspan2']}}" class="color-black"
                    style="text-align: left;font-size: 13px;">
                    <span style="font-weight: 600;">Amount in words:</span><br>
                    {{quote['amt_in_words']}} Only
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</div>