<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> FarazonCRM {{name}}</title>
        <meta name="description" content="{{name}}">
        <meta name="author" content="Dinesh Kumar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,900%7COpen+Sans:300,400,600,700,800" rel="stylesheet" type="text/css"> -->
<style>
    table.items-table
{
 font-size: 10px !important;
 
}
.col-12
{
 width: 100%;
}
td.sub_total {
 border: 0px #fff !important;
}
.td_total,.th_total
{
 max-width: 100%;
 min-width: 16%;
}
.item_sno
{
 max-width: 100%;
 min-width: 5%;
}
.item_description
{
 max-width: 100%;
 min-width: 25%;
}
.description_align
{
 align: {{ pdfData['description_align'] }} !important;
 text-align: {{ pdfData['description_align'] }} !important;
}
.part_no
{
 max-width: 100%;
 min-width: 5%;
}
.item_qty
{
 max-width: 100%;
 min-width: 6%;
}
.item_price
{
 max-width: 100%;
 min-width: 11%;
}
.item_custom
{
 max-width: 100%;
 min-width: 5%;
}
.item_dis
{
 max-width: 100%;
 min-width: 5%;
}
.item_dis_price
{
 max-width: 100%;
 min-width: 7%;
}
.item_tax
{
 max-width: 100%;
 min-width: 5%;
}
.item_tax_amt
{
 max-width: 100%;
 min-width: 7%;
}
.packing
{
 max-width: 100%;
 min-width: 5%;
}

.total_colspan
{
width: 67%;
}
.total_sub
{
width: 16%;
}
.total_col
{
width: 1%;
}
td.sub_total {
 text-align: right;
}
tr.amount_in_words td 
{
text-align: left !important;
}
.quotation-header
{
font-size: 24px;
background-color:#efefef;
}
.quotation-header-name
{  
text-align: left !important;
width: 50%;
padding-top: 5px;
}

.quotation-header-no
{
text-align: right !important;
width: 50%;
padding-top: 5px;
}

.col-lg-12 {
 width: 100%;
 max-width: 100%;
 min-width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
 position: relative;
 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
}
.header
{
 background-color: #efefef;
 color: #736f6f;
 text-align: center;
}

hr {
 margin-top: 20px;
 margin-bottom: 20px;
 border: 0;
 border-top: 10px solid #eeeeee;
}
.bill_to_address
{
width: 33.33%;
 float: left;
}
.address
{
 border-right: 1px solid #eee;
}
.address-name
{
 font-size: 14px;
}
.address div
{
 padding: 10px;
}
body
{
/* color: #656565; */
 /* font-family: 'Open Sans',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial,sans-serif; */
}
td.address { 
 padding: 10px;
}
.quote_name
{
width: 55%;
}
.quote_dot
{
width: 2%;
}
.quote_value
{
width: 43%;
}

.address-table
{
 border-bottom: 1px solid #eee;
}
.address-table
{
 border-bottom: 1px solid #eee;
}
.items-table tr
{
 border-bottom: 1px solid #eee;
}
tr.items td
{
 border-bottom: 1px solid #eee;
}
.org-ali-left-right
{
  text-align: right !important;
  /* float: left !important; */

 
}

.log-ali-left-right
{
 text-align: left !important;
 float: left !important;
 
}

.text-right
{
 text-align: right !important;
}

/* .col-lg-6
{
  width:50%
  float: left;
} */

.org-ali-right-left
{
  text-align: left !important;
 float: right !important;
 
}
.log-ali-right-left
{
 text-align: right !important;
 float: right !important;
}

/* .logo_alignment
{
 text-align: {{ logo_alignment }}
}
.border_color_pdf
{
 background-color: {{ pdfData['border_color'] }};
 color: {{ pdfData['border_font_color'] }};
}
body
{
 color:{{ font_color }};
} */
.border_color_pdf
{
 /* background-color: {{ pdfData['border_color'] }} !important; */
 color:{{ pdfData['border_font_color'] }} !important;
}
.logo-width
{
 width: {{ pdfData['width'] }}px;
 
}
.for_org{
 color:{{ pdfData['org_for_color'] }} !important;
 font-size:12px !important;
 
}
.td-width-50
{
 width: 50% !important;
 
}
.td-width-100
{
 width: 100% !important;
 
}
.width-100 table{
 width:100% !important;
}
table{
 width:100%;
}
@page {
/* margin:1cm; Set margin on each page */
margin-left: 1cm;
margin-right: 1cm;
margin-bottom: 1cm;
margin-top: 0.5cm;

}
.header-font{
 font-weight: 600 !important; 
 font-size: 18px !important;
 color:{{ pdfData['font_color'] }} !important;
}
.org_name{
 margin-right:0px !important;
 font-size: {{ pdfData['org_size'] }}px !important;
 font-weight: 600 !important;
 color:{{ pdfData['org_color_name'] }} !important;
 margin-top:2px !important;
 margin-bottom:2px !important;
}
.org_add_info{
 font-weight: 500 !important; 
 font-size: 12px !important;
 color:black!important
}
.org-ali-left{
 float:left !important;
 margin-left:0 !important;
 margin-right:0 !important;
 padding:0 !important;
 margin-top:3px !important;

}
.logo-right{
 float:right !important;
 margin-right:26px !important;
}
.billing_addr_title{

 font-size: 13px !important;
 font-weight: 600 !important;
 color:black !important;
}
.billing_addr_company{
font-size: 12px !important;
font-weight: 600 !important;
color:black !important;
}
.billing_addr{
font-size: 12px !important;
font-weight: 500 !important;
color:black !important;
}
.quote_detail_title{

 font-size: 13px !important;
font-weight: 600 !important;
color:black !important;
}
.quote_detail{
font-size: 14px !important;
font-weight: 500 !important;
color:black !important;
}
.subject_title{
font-size: 13px !important;
font-weight: 600 !important;
color:black !important;
}
.kind_attention_other_title{
font-size: 11px !important;
font-weight: 500 !important;
color:black !important;
}
.kind_attention_other{
font-size: 11px !important;
/* font-weight: 500 !important; */
color:black !important;
}
.item_tb_header{
font-size: {{ pdfData['table_header_font_size'] }}px !important;
/* font-weight: 500 !important; */
text-align: center !important;
vertical-align: middle !important;
padding:5px !important;
color:{{ pdfData['font_color'] }} !important;
font-weight:600 !important;

}
.item_tb_values{
font-size: {{ pdfData['table_item_font_size'] }}px !important;
font-weight: 500 !important;
text-align: center !important;
vertical-align: middle !important;
padding:5px !important;
color:black !important;

}
.item_tb_values_right{
font-size: {{ pdfData['table_item_font_size'] }}px !important;
font-weight: 500 !important;
text-align: right !important;
vertical-align: middle !important;
padding:5px !important;

}
.item_tb_values_left{
font-size: {{ pdfData['table_item_font_size'] }}px !important;
font-weight: 500 !important;
text-align: left !important;
vertical-align: top !important;
padding:5px !important;
color:black !important;

}
.item_tb_values_desc{
font-size: {{ pdfData['table_item_font_size'] }}px !important;
font-weight: 500 !important;
/* vertical-align: top !important; */
color:black !important;
padding:5px !important;

}
.item_tb_sub{
font-size: {{ pdfData['table_item_font_size'] }}px !important;
/* font-weight: 500 !important; */
text-align: right !important;
vertical-align: middle !important;
padding:5px !important;

}
.pg-break-avoid{
 page-break-inside: avoid!important;
}
.color-black{
 color:black!important;
}

.tab {border-collapse:collapse;} 
/* .tab th{
 font-size: 11px !important;
 
} */
body{
 font-family:'{{ pdfData['pdf_font'] }}'  !important;
}
.lh1{
line-height: 1!important;
}
.p0{
 padding:0px!important;
}
.border_bottom{
 border-bottom: 1px solid black; !important;
}
.border{
 border:1px solid black;
}

@page {
@bottom-right {
 content: 'Page ' counter(page) ' of ' counter(pages);
 font-size: 10px !important;
}
}

</style>
</head>
<body>